*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color:#000;
}
h1{
    color:#FFF;
    text-align: center;
}
.container{
    width: 860px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
p{
    line-height: 40px;
    color:springgreen;
}