{% extends 'template.html' %} 
{% block content %}
<div class="container">
    <h1>Bem-vindo ao projeto padronizado de sites e sistemas com Slim Framework 3</h1>
    <p>Se você esta visualizando esta tela é porque tudo funcionou corretamente.</p>
    <p>Estrutura padrão preparada para receber códigos prontos como sites e sistemas para serem implementados na mais moderna estrutura MVC.</p>
    <p>Utilizando recursos como Slim Framewok 3, Template Twig entre outros.</p>
    <p>Estou sugerindo que seja a primeira versão: v1.0.0.</p>
</div>
{% endblock %}